:root {
  --cor-fundo: #e9935e;
  --cor-fundo-2: #EE7E54;
  --cor-texto: #000000;
  --cor-erro: #ff0000;
  --cor-sucesso: #00ff4c;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bodyLogin.bg-light{
    background-color: var(--cor-fundo);
}

#bodyLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

.caixa-p {
  padding: 3%;
  gap: 1%;
  background-color: var(--cor-fundo-2);
}

#mainLogin {
  padding: 3%;
  gap: 1%;
  border-radius: 5%;
  box-shadow: 10px 10px 15px rgba(19, 20, 55, 0.3);
  background-color: var(--cor-fundo-2);
}

#formLogin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

#formLogin input {
  padding: 5px;
  border: solid var(--cor-texto);
}

#formLogin button {
  border: solid var(--cor-texto);
}

#formLogin button:hover {
  background-color: var(--cor-texto);
}

.toggle {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: var(--cor-texto);
}

.erro {
  color: var(--cor-erro);
  font-size: 12px;
  text-align: center;
}

.sucesso {
  color: var(--cor-sucesso);
  font-size: 12px;
  text-align: center;
}































/*   Arthur    */

.navbar-lateral{
    height: 100%;
    width: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f17b44;
    transition: .2s;
    overflow: hidden;
    
}

.navbar-lateral:hover{
    height: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f17b44;
    transition: .2s;
}

.img-navbar-lateral{
    width: 310px;
    justify-content: center;
    padding-left: 25px;

}

.flex{
    display: flex;
}

.botoes-navbar-lateral{
    padding: 0 40px;
    width: 10px;
    
}



.botao-navbar-lateral{
    background-color: #fcc897;
    border-radius: 4px;
    border: solid #fcc897;
    margin: 7px;
}









































































































































































































/* IGACIO *\




