:root {
  --cor-fundo: #e79b54;
  --cor-fundo-2: #f17b44;
  --cor-forms: #e79b54;
  --cor-texto: #000000;
  --cor-erro: #ff0000;
  --cor-sucesso: #00ff4c;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bodyLogin.bg-light{
    background-color: var(--cor-fundo);
}

#bodyLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  color: var(--cor-texto);
  background-color: var(--cor-fundo);
}

#mainLogin {
  padding: 3%;
  gap: 1%;
  border-radius: 5%;
  box-shadow: 10px 10px 15px rgba(19, 20, 55, 0.3);
  background-color: var(--cor-fundo-2);
}

#formLogin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

#formLogin input {
  padding: 5px;
  border: solid var(--cor-texto);
}

#formLogin button {
  border: solid var(--cor-texto);
}

#formLogin button:hover {
  background-color: var(--cor-texto);
}

.toggle {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  color: var(--cor-texto);
}

.erro {
  color: var(--cor-erro);
  font-size: 12px;
  text-align: center;
}

.sucesso {
  color: var(--cor-sucesso);
  font-size: 12px;
  text-align: center;
}